$background_color: yellow;
$main_font_family: "Fredoka One", cursive;
$other_fonts:  'Roboto Slab', serif;
$font_color: rgb(2, 139, 81);
$box_shadow: inset -5px -5px 5px 0 rgba(0, 0, 0, 0.83), 
inset 10px 10px 10px 0 rgba(255, 255, 255, 0.401);
